/Debug/
/Release/
/Testing/
/cpu_only/
doc/html/*
doc/latex/*
bin/*
bin/objects/*
contrib/blis/*
contrib/openblas/*
contrib/gtest/*
contrib/libml/*
contrib/ftxui/*
/contrib/mingw64/*
*.pyc
gmon.out
test_file.*
scripts/tmp_script.bat
