/Debug/
/Release/
/Testing/
/cpu_only/
doc/html/*
doc/latex/*
doc/*/*.aux
doc/*/*.toc
doc/*/*.log
doc/*/*.synctex.gz
doc/*/*.out
bin/*
build/*
bin/objects/*
extern/openblas/*
extern/libml/*
extern/minml/*
/contrib/mingw64/*
*.pyc
*.bin
gmon.out
test_file.*
scripts/tmp_script.bat
.project
.cproject
.settings/*
selfcheck.txt
