/Debug/
/Release/
/Testing/
/cpu_only/
doc/html/*
doc/latex/*
bin/*
build/*
bin/objects/*
extern/openblas/*
extern/libml/*
extern/minml/*
/contrib/mingw64/*
*.pyc
gmon.out
test_file.*
scripts/tmp_script.bat
.project
.cproject
.settings/*
